{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe-MGH Books{% endblock %}

{% block home %}
<br><br><br>
<center><h1 style="color: lightseagreen;  font-size: 28px">Modifier mon mot de passe</h1></center>

<center><a href="{{path('account')}}" style="color: blue;  font-size: 18px">Retourner à mon compte</a></center>
<hr><br>
{% if notification %}
<div class="alert alert-info">{{notification}}</div>
{% endif %}
<div style="font-size: 15px; width: 400px; margin-left:30%" id="form2">{{form(form)}}</div><br><br><br><br><br><br><br><br>
<hr>
{% endblock %}
