{% extends 'base.html.twig' %}
{% block title %}Inscription-MGH Books{% endblock %}

{% block home  %}
    

    <br><br><br>
    <h1 style="color: lightseagreen; margin-left: 40%; font-size: 28px">Inscription</h1> <br><br><br>
    {% if notification %}
    <div class="alert alert-info" style="font-size: 15px;margin-left: 35%;">{{ notification }}</div><br>
    {% endif %}
    <div style="font-size: 15px; width: 400px; margin-left: auto;
    margin-right: auto;">{{ form(form) }}</div><br><br><br><br><br><br><br><br>
{% endblock %}